:root{
    /*color*/
    --color-black : #3f454d;
    --color-white : #ffffff;
    --color-blue : #3b88c3;
    --color-yellow : #fbbe28;
    --color-pink : #fd7f84;
    --color-light-grey : #dfdfdf;

    /*size*/
    --size-button : 60px;
    --font-size : 18px;
    --base-space : 8px;
    --size-image : 50px;
    --size-border : 4px;
    
    /*animation*/
    --animation-duration : 300ms;
}
ul{
    list-style: none;
}
body{
    height : 100vh;
    background-color: var(--color-black);
    display : flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__shop{
    cursor : pointer;
    transition : transform var(--animation-duration) ease;
}
.logo__shop:hover{
    transform : scale(1.1);
}

.buttons__category{
    display : flex;
    align-items: center;
}
button{
    background-color : transparent;
    border : none;
    outline : none;
    cursor : pointer;
    margin-right : var(--base-space);
}
button{
    cursor : pointer;
    transition : transform var(--animation-duration) ease;
}
button:hover{
    transform : scale(1.1);
}
.img_btn img{
    width : var(--size-button);
    height : var(--size-button);
}
.color_btn{
    font-size : var(--font-size);
}
.blue{
    background-color: var(--color-blue);
    padding : calc(2 * var(--base-space));
    border-radius : var(--size-border);
}
.yellow{
    background-color : var(--color-yellow);
    padding : calc(2 * var(--base-space));
    border-radius : var(--size-border);
}
.pink{
    background-color : var(--color-pink);
    padding : calc(2 * var(--base-space));
    border-radius : var(--size-border);
}

.items{
    width : 60%;
    height : 60%;
    overflow-y : scroll;
}
.items__category{
    padding : 0px;
}
.items li{
    background-color : var(--color-white);
    display : flex;
    align-items: center;
    padding : var(--base-space);
    margin-bottom : var(--base-space);
}
.items li img{
    width : var(--size-image);
    height : var(--size-image);
    margin-right : var(--base-space);
}
.items li span{
    font-size : var(--button-font-size);
}